# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# Android
android/.gradle/
android/app/build/
*.apk
*.aar
*.iml
*.class
*.dex
*.jar
*.keystore

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Flutter/Generated.xcconfig

# Web
lib/generated_plugin_registrant.dart

# IDEs
.idea/
.vscode/
*.swp
*.lock
*.log

# Other
*.tmp
*.DS_Store
