# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
lib/generated_plugin_registrant.dart
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins-dependencies
/coverage/

# Android
android/.gradle/
android/app/build/
*.apk
*.aar
*.iml
*.class
*.dex
*.jar
*.keystore
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Flutter/Generated.xcconfig

# Web
lib/generated_plugin_registrant.dart

# IDEs
.idea/
.vscode/
*.swp
*.lock
*.log

# Other
*.tmp
*.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

